{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="left-side">
        <a class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Back to Store</a>
        <h2>Checkout</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_full_name">Full Name:</label>
                {{ form.full_name }}
            </div>
            <div class="form-group">
                <label for="id_phone">Phone:</label>
                {{ form.phone }}
            </div>
            <div class="form-group">
                <label for="id_address">Address:</label>
                {{ form.address }}
            </div>
        </form>
    </div>
    <div class="col-lg-6">
        <div class="box-element">
            <hr>
            <h3>Order Summary</h3>
            <hr>
            {% regroup items by product.category as grouped_items %}
            {% for category in grouped_items %}
            <h4>{{ category.grouper }}</h4>
            {% for item in category.list %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                <div style="flex:2"><p>{{item.product.name}}</p></div>
                <div style="flex:1"><p>Rp{{item.product.price|floatformat:0}}K</p></div>
                <div style="flex:1">
                    <p class="quantity">{{item.quantity}}</p>
                    <div class="quantity">
                        <img data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}">
                        <img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}">
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endfor %}
            <h5>Detail Pesanan</h5>
			<h5>Items:   {{order.get_cart_items}}</h5>
			<h5>Total:   Rp{{order.get_cart_total|floatformat:0}}K</h5>
			<input type="submit" value="Buat Pesanan Antar">
        </div>
    </div>
</div>
{% endblock content %}
