{% load static %}
{% include 'snippets/nav.html' %}

<!-- Bootsrap Connect -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

<!-- Feather Icons -->
<script src="https://unpkg.com/feather-icons"></script>

<!-- CSS -->
<link rel="stylesheet" href="{% static 'css/styles.css' %}"/>

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet"/>
    
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
  <title>NetNibbles</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
</head>

<body>
  <div class="container-fluid py-5">
    <div class="row main">
      <div class="col-md-6 d-flex align-items-start flex-column justify-content-center full-height">
        <h1>Selamat Datang<br>Di NetNibbles</h1>
        <p>NetNibbles merupakan pilihan tepat untuk memuaskan rasa lapar Anda <br> dengan hidangan lezat dan cepat saji. Kami menawarkan berbagai menu favorit <br> seperti burger, dan masih banyak lagi.</p>
        <button>Beli Sekarang ></button>
      </div>
      <div class="col-md-6 d-flex flex-column align-items-end justify-content-end">
        <img src="{% static 'images/Group 12.png' %}" class="img-fluid"></img>
      </div>
    </div>
  </div>
  <div class="container py-5">
    <br>
  </div>
  <div class="container-fluid py-5">
    <div class="row main">
      <div class="col-md-6 d-flex flex-column align-items-center justify-content-end ">
        <img src="{% static 'images/Best.png' %}" class="img-fluid" style="width: 80%;"></img>
      </div>
      <div class="col-md-6 d-flex align-items-start flex-column justify-content-center full-height">
        <h1>Telusuri Makanan <br> Favorit</h1>
        <p>Telusuri menu kami yang beragam, yang dirancang untuk memenuhi selera, <br> kami menyediakan opsi yang cocok untuk setiap selera dan kebutuhan.</p>
        <button>Telusuri Menu ></button>
      </div>
    </div>
  <div class="container py-5">
    <br>
  </div>
  <div class="container-fluid py-5">
    <div class="row main">
      <div class="col-md-6 d-flex align-items-start flex-column justify-content-center full-height">
          <h1>Kunjungi, Kami<br>Hadir 24 Jam</h1>
          <p>Nikmati kenyamanan memesan secara online melalui situs web <br> atau kunjungi salah satu cabang kami yang tersebar luas untuk <br> menikmati hidangan favorit Anda langsung di tempat.</p>
        </div>
        <div class="col-md-6">
          <img src="{% static 'images/Group 11.png' %}" class="img-fluida"></img>
        </div>
      </div>
    </div>
  <div class="container py-5">
    <br>
  </div>
  <div class="container-fluid py-5">
      <div class="col text-center"">
        <h1>Hubungi Kami</h1>
        <img src="{% static 'images/contact.png' %}" class="img-fluid" style="width: 50%; margin-top: 125px; margin-bottom: 125px;"></img>
      </div>
  </div>
  </div>
</div>
</body>

{% include 'snippets/footer.html' %}