{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
    <title>NetNibbles | Login</title>
</head>
<body>
    <div class="container">
        <h1><img src="{% static 'images/logo.png' %}"></h1>
      	<h2>Login</h2>
        <form action="">
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email"><br>
            <label for="pwd">Password:</label><br>
            <input type="password" id="pwd" name="pwd"><br>
            <input type="submit" value="Create Account">
        </form>
        <p>Don't have an account?
            <a href="{% url 'register' %}">Create Account</a>
        </p>
    </div>
</body>
</html>