{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
    <title>NetNibbles | Register</title>
</head>
<body>
    <div class="container">
        <h1><img src="{% static 'images/logo.png' %}"></h1>
        <h2>Create Account</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Create Account">
        </form>
        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </div>
</body>
</html>
