<!-- Load Static -->
{% load static %}

<!-- Bootsrap Connect -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

<!-- Load CSS -->
<link href="{% static 'css/cssauth.css' %}" rel="stylesheet">

<!-- Code -->
<!DOCTYPE html>
<html>
<head>
    <title>NetNibbles | Register</title><link rel="icon" href="{% static 'images/logojudul.png' %}" type="image/png" />
</head>
<body>
    <div class="container-fluid h-100">
        <div class="row h-100 align-items-center">
            <div style="background-color: #FFF1DC" class="col-4 d-flex justify-content-center full-height">
                <div class="img-container">
                    <img src="{% static 'images/authasset/burger.png' %}" class="img-fluid" alt="Burger Image">
                </div>
            </div>
            <div class="col-6 px-5 d-flex flex-column justify-content-center full-height">
                <div class="container-fluid">
                    <h1>Daftar</h1>
                    <br>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <br>
                    <button type="submit" value="Login">Daftar</button>
                    </form>
                    <p>Sudah punya akun? <a href="{% url 'login' %}">Masuk sini</a></p>
                    <p>Ingin kembali? <a href="{% url 'home' %}">Mampir sini</a></p>
                </div>
            </div>
        </div>
</body>
</html>