{% extends 'main.html' %}
{% load static %}

{% block content %}

<main style="padding-left: 50px; font: 'DM Sans'; padding-right: 50px; font-align: justify; margin-left:8rem;  margin-right:8rem;  margin-bottom:3rem;">
<header style="background-color:#fef0db; font-family: 'DM Sans', sans-serif; color: black; z-index: 10;" class="flex-shrink-0 ">
            <div >
                    <div class=" mb-5 align-items-center">
                        <div>
                            
                            <div style="padding-left:102px; text-align: left;">
                                <h1><span style="font-size: 55px; color:#d52b1e; padding-right: 130px; font-weight: bold;">Help & Support<br><br></span></h1>
                                <p><span style="font-size: 24px; color: black; padding-right: 150px; ">Selamat datang di halaman Bantuan & Dukungan Netnibbles! <br>Kami di sini untuk membantu Anda dengan segala pertanyaan atau masalah yang Anda miliki. Silakan temukan informasi yang Anda butuhkan di bawah ini atau hubungi kami melalui metode yang tersedia.<br><br><br></span></p>
                                
                                <h1><span style="font-size: 24px; color: black; padding-right: 150px; font-weight: bold; ">Cara Menghubungi Kami</span></h1>
                                <p><span style="font-size: 20px; color: black; padding-right: 150px; ">Anda dapat mengirim email kepada tim dukungan pelanggan kami di support@netnibbles.com. Kami akan berusaha merespons email Anda dalam waktu 24 jam kerja. <br> Hubungi kami di nomor layanan pelanggan: 021-123345. Layanan ini tersedia dari Senin hingga Jumat, pukul 09.00 - 18.00.<br>Kunjungi situs web kami dan gunakan fitur live chat untuk mendapatkan bantuan langsung dari salah satu agen dukungan kami.</span></p>
                                
                                <h1><span style="font-size: 24px; color: black; padding-right: 150px; font-weight: bold; ">Umpan Balik dan Saran</span></h1>
                                <p><span style="font-size: 20px; color: black; padding-right: 150px; "> Kami selalu berusaha untuk meningkatkan layanan kami dan menghargai setiap umpan balik dari Anda. Jika Anda memiliki saran atau masukan, silakan kirimkan ke support@netnibbles.com. <br></span></p>
                                
                                                               
                                
                                <h1><span style="font-size: 24px; color: black; padding-right: 150px; font-weight: bold; "> </span></h1>
                                <p><span style="font-size: 20px; color: black; padding-right: 150px; ">  <br></span></p>
                                
                                <h1><span style="font-size: 24px; color: black; padding-right: 150px; font-weight: bold; "> </span></h1>
                                <p><span style="font-size: 20px; color: black; padding-right: 150px; ">  <br></span></p>
                                
                                
                                
                                </div>
                            </div>
                        </div>
                      
      </header>
   
</main>
{% endblock content %}    

