{% load static %}




<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>NetNibbles</title>
        <!-- Custom Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    </head>
    <body>
        
        <main class="flex-shrink-1" style="background-color:#fef0db; font-family: 'DM Sans', sans-serif;">
            
            
            
            <nav class="navbar navbar-expand-lg navbar-light py-3" style="background-color: transparant; z-index: 1000;" >
                <div class="container" >
                    <a class="navbar-brand" style="margin-left:50px" href="index.html"><span class="fw-bolder text-primary"><img class="logos-img" src="{% static 'assets/logo.png' %}" alt="Avatar" /></span></a>
                            
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms- mb-2 mb-lg-0 small fw-lighter">
                            <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="#resume">Menu</a></li>
                            <li class="nav-item"><a class="nav-link" href="#project">Pemesanan</a></li>
                        </ul>
                    </div>
                </div>
                <header class="header">
                    <div class="search-container" >
                    <input type="text" class="search search-box search-text search-in search-in-a search-vec" placeholder="Search...">
                      <i class="fas fa-search search-icon"></i>
        
        
                      <img class="user-icon" src="{% static 'assets/search.png' %}"></div> 
                      
                                    
            
                    </div>
                    <img class="cart-icon" href="#" src="{% static 'assets/cart.png' %}"></div>
                    <img class="user-icon" href="#" src="{% static 'assets/users.png' %}"></div> 
            </nav>
       
            {% block content %}

            
            {% endblock content %}
            
            
            
        </main>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        
    </body>
</html>

