{% extends 'menu/main.html' %}
{% load static %}

{% block content %}

<main style="padding-left: 50px; font: 'DM Sans'; padding-right: 50px; font-align: justify; margin-left:8rem;  margin-right:8rem;  margin-bottom:3rem;">
<header style="background-color:#fef0db; font-family: 'DM Sans', sans-serif; color: black; z-index: 10;" class="flex-shrink-0 ">
            <div >
                    <div class=" mb-5 align-items-center">
                        <div>
                            
                            <div style="padding-left:102px; text-align: left;">
                                <h1><span style="font-size: 55px; color:#d52b1e; padding-right: 130px; font-weight: bold;">About Us<br><br></span></h1>
                                <p><span style="font-size: 24px; color: black; padding-right: 150px; ">Selamat datang di Netnibbles!<br><br><br><br></span></p>
                                
                                <h1><span style="font-size: 24px; color: black; padding-right: 150px; font-weight: bold; ">Siapa Kami?</span></h1>
                                <p><span style="font-size: 20px; color: black; padding-right: 150px; ">Netnibbles adalah penyedia makanan cepat saji terkemuka yang berkomitmen untuk menghadirkan makanan lezat dan berkualitas tinggi ke meja Anda. Sejak didirikan, kami telah berkembang menjadi salah satu pilihan favorit bagi pecinta makanan cepat saji, menawarkan berbagai produk yang terinspirasi oleh cita rasa internasional. <br></span></p>
                                
                                <h1><span style="font-size: 24px; color: black; padding-right: 150px; font-weight: bold; ">Misi Kami </span></h1>
                                <p><span style="font-size: 20px; color: black; padding-right: 150px; "> Misi kami adalah menyajikan makanan cepat saji yang tidak hanya lezat tetapi juga sehat dan terjangkau. Kami berkomitmen untuk menggunakan bahan-bahan berkualitas tinggi dan mengikuti standar keamanan pangan yang ketat untuk memastikan setiap gigitan adalah pengalaman yang memuaskan.  <br></span></p>
                                
                                <h1><span style="font-size: 24px; color: black; padding-right: 150px; font-weight: bold; "> Apa yang Kami Tawarkan? </span></h1>
                                <p><span style="font-size: 20px; color: black; padding-right: 150px; "> Netnibbles menawarkan berbagai pilihan makanan cepat saji yang menggugah selera, termasuk burger, kentang goreng, ayam goreng, minuman segar, dan banyak lagi. Setiap item di menu kami dirancang untuk memenuhi selera dan preferensi yang beragam. <br></span></p>
                                
                                <h1><span style="font-size: 24px; color: black; padding-right: 150px; font-weight: bold; ">  Komitmen Terhadap Komunitas</span></h1>
                                <p><span style="font-size: 20px; color: black; padding-right: 150px; "> Netnibbles tidak hanya berfokus pada bisnis, tetapi juga berkomitmen untuk memberikan dampak positif pada komunitas. Kami secara rutin berpartisipasi dalam berbagai inisiatif sosial dan lingkungan untuk mendukung dan memperbaiki lingkungan sekitar kami.  <br></span></p>
                                
                                <h1><span style="font-size: 24px; color: black; padding-right: 150px; font-weight: bold; "> Tim Kami</span></h1>
                                <p><span style="font-size: 20px; color: black; padding-right: 150px; "> Kami bangga memiliki tim yang berdedikasi dan profesional yang bekerja keras untuk memberikan pengalaman terbaik bagi pelanggan kami. Dari staf dapur hingga tim layanan pelanggan, setiap anggota tim kami berbagi visi yang sama untuk memberikan yang terbaik dalam segala hal yang kami lakukan.  <br></span></p>
                                
                                <h1><span style="font-size: 24px; color: black; padding-right: 150px; font-weight: bold; "> Hubungi Kami </span></h1>
                                <p><span style="font-size: 20px; color: black; padding-right: 150px; "> Kami selalu senang mendengar dari Anda! Jika Anda memiliki pertanyaan, saran, atau umpan balik, jangan ragu untuk menghubungi kami di support@netnibbles.com atau melalui halaman Kontak Kami di situs web kami.<br></span></p>
                                
                                
                                <h1><span style="font-size: 24px; color: black; padding-right: 150px; font-weight: bold; "> </span></h1>
                                <p><span style="font-size: 20px; color: black; padding-right: 150px; ">  <br></span></p>
                                
                                <h1><span style="font-size: 24px; color: black; padding-right: 150px; font-weight: bold; "> </span></h1>
                                <p><span style="font-size: 20px; color: black; padding-right: 150px; ">  <br></span></p>
                                
                                
                                
                                </div>
                            </div>
                        </div>
                      
      </header>
   
</main>
{% endblock content %}    
