{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>NetNibbles | Menu</title>
       
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
        
        <link href="{% static 'css/style.css' %}" rel="stylesheet" />
        <script type="text/javascript">
		var user = '{{request.user}}'

		function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')

		function getCookie(name) {
		    
		    var cookieArr = document.cookie.split(";");

		    
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        
		        if(name == cookiePair[0].trim()) {
		           
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))

		if (cart == undefined){
			cart = {}
			console.log('Cart Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)
	
	</script>
    </head>
    <body>
        
        <main class="flex-shrink-1" style="background-color:#fef0db; font-family: 'DM Sans', sans-serif;">
            
    {% include 'snippets/main.html' %}

      <header style="background-color:#fef0db; font-family: 'DM Sans', sans-serif; color: black; z-index: 10;" class="flex-shrink-0 ">
            <div >
                    <div class="row mb-5 align-items-center">
                        <div class="col-xxl-5">
                            
                            <div style="padding-left:102px; text-align: left;">
                                <h1><span style="font-size: 75px; color:#d52b1e; padding-right: 130px; font-weight: bold;">Menu Lezat & Higenis<br>Untuk Semua<br></span></h1>
                                <p><span style="font-size: 24px; color: black; padding-right: 150px; ">NetNibbles menghadirkan dan menjamin kelezatan kepada pelanggan tercinta semua.<br><br></span></p>
                                <div class="d-grid gap-3 justify-content-sm-center justify-content-xxl-start mb-3">
                                    <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="#">Telusuri Menu ></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-7" style="margin-bottom:10rem;">
                            <div">
                                    <img class="menu-icon" style="padding-left: 0px; margin-right:0px;" src="{% static 'assets/menupage.png' %}" alt="Avatar" />
                            </div>
                        </div>              
      </header>
            
            <section id="Makanan">
            <div >
                <div class="mb-5" style="margin-bottom:10rem;">
                
                    <h1 class="fw-bolder mb-0"style="font-size:40px; text-align: center;"><span class="text-secondary" >Makanan</span></h1>
                </div>
                
                <div class="menu-container" style="margin-bottom:10rem;">
                    {% for menu in menu1 %}
                    <div class="menu-item">
                        <img style="width: 175px; height: 171px;" src="{{ menu.image.url }}" alt="{{ menu.name }}">
                        <span style="font-size:16px; font-weight:semibold;">
                            <br><h4>{{ menu.name }}</h4><br>
                            <p>Rp. {{ menu.price }}</p><br><br>
                            {% if menu.is_sold_out %}
                                <h5><span class="sold-out">Sold Out</span></h5>
                            {% else %}
                                <button data-product="{{menu.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                            {% endif %}
                        </span>
                    </div>
                    {% endfor %}
              </div>
              
              <section id="Minuman" >
            <div >
                <div class="mb-5" >
                
                    <h1 class="fw-bolder mb-0"style="font-size:40px; text-align: center;"><span class="text-secondary" >Minuman</span></h1>
                </div>
                
                <div class="menu-container" style="margin-bottom:10rem;">
                    {% for menu in menu2 %}
                    <div class="menu-item">
                        <img style="width: 175px; height: 171px;" src="{{ menu.image.url }}" alt="{{ menu.name }}">
                        <span style="font-size:16px; font-weight:semibold;">
                            <br><h4>{{ menu.name }}</h4><br>
                            <p>Rp. {{ menu.price }}</p><br><br>
                            {% if menu.is_sold_out %}
                                <h5><span class="sold-out">Sold Out</span></h5>
                            {% else %}
                                <button data-product="{{menu.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                            {% endif %}
                        </span>
                    </div>
                    {% endfor %}
              </div>
              
              <section id="Dessert">
            <div >
                <div class="mb-5" >
                
                    <h1 class="fw-bolder mb-0"style="font-size:40px; text-align: center;"><span class="text-secondary" >Dessert</span></h1>
                </div>
                
                <div class="menu-container">
                    {% for menu in menu3 %}
                    <div class="menu-item">
                        <img style="width: 175px; height: 171px;" src="{{ menu.image.url }}" alt="{{ menu.name }}">
                        <span style="font-size:16px; font-weight:semibold;">
                            <br><h4>{{ menu.name }}</h4><br>
                            <p>Rp. {{ menu.price }}</p><br><br>
                            {% if menu.is_sold_out %}
                                <h5><span class="sold-out">Sold Out</span></h5>
                            {% else %}
                                <button data-product="{{menu.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                            {% endif %}
                        </span>
                    </div>
                    {% endfor %}
              </div>
            </section> 
        </main>

        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
        
    </body>
</html>
