{% load static %}
            
            <nav class="navbar navbar-expand-lg py-3" style="background-color: transparant; z-index: 1000;" >
                <div class="container" >
                    <a class="navbar-brand" style="margin-left:50px" href="{% url 'home' %}"><span class="fw-bolder text-primary"><img class="logos-img" src="{% static 'assets/logo.png' %}" alt="Avatar" /></span></a>
                            
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mb-2 mb-lg-0 ">
                            <li class="nav-item"><a class="nav-link" style="margin-left: 45px;" href="{% url 'home' %}">Home</a></li>
                            <li class="nav-item"><a class="nav-link" style="margin-left: 45px;" href="{% url 'store' %}">Menu</a></li>
                            <li class="nav-item"><a class="nav-link" style="margin-left: 45px;" href="{% url 'orderhistory' %}">Pemesanan</a></li>
                        </ul>
                    </div>
                </div>
                
                <header class="header"> 
                     <a href="{% url 'checkout' %}"><img class="cart-icon" href="#" src="{% static 'assets/cart.png' %}"></div></a>
                    <p id="cart-total">{{cartItems}}</p>
                    <a href="{% url 'user_page' %}"><img class="user-icon" src="{% static 'assets/users.png' %}"></a></div>
                
            </nav>
       
            


