
{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>NetNibbles</title>
        <!-- Custom Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    </head>
    <body>
        
        <main class="flex-shrink-1" style="background-color:#fef0db; font-family: 'DM Sans', sans-serif;">

{% include 'snippets/main.html' %}



<main style="padding-left: 50px; font: 'DM Sans'; padding-right: 50px; font-align: justify; margin-left:8rem;  margin-right:8rem;  margin-bottom:3rem;">
<header style="background-color:#fef0db; font-family: 'DM Sans', sans-serif; color: black; z-index: 10;" class="flex-shrink-0 ">
            <div >
                    <div class=" mb-5 align-items-center">
                        <div>
                            
                            <div style="padding-left:102px; text-align: left;">
                                <h1><span style="font-size: 55px; color:#d52b1e; padding-right: 130px; font-weight: bold;">Terms & Condition<br><br></span></h1>
                                <p><span style="font-size: 24px; color: black; padding-right: 150px; ">Selamat datang di Netnibbles!<br><br>Syarat dan Ketentuan ini menjelaskan aturan dan regulasi untuk penggunaan situs web Netnibbles.<br>Dengan mengakses situs web ini, kami menganggap Anda menerima syarat dan ketentuan ini <br> Jangan melanjutkan menggunakan Netnibbles jika Anda tidak setuju untuk mematuhi semua syarat dan ketentuan yang tertera di halaman ini.<br><br></span></p>
                                
                                <h1><span style="font-size: 24px; color: black; padding-right: 150px; font-weight: bold; ">Definisi</span></h1>
                                <p><span style="font-size: 20px; color: black; padding-right: 150px; ">Netnibbles: Perusahaan yang menyediakan produk dan layanan makanan cepat saji. Pengguna: Setiap individu atau entitas yang mengakses atau menggunakan situs web Netnibbles. Produk: Item makanan cepat saji yang disediakan oleh Netnibbles, termasuk tetapi tidak terbatas pada burger, kentang goreng, dan minuman. <br></span></p>
                                
                                <h1><span style="font-size: 24px; color: black; padding-right: 150px; font-weight: bold; ">Penggunaan Situs Web </span></h1>
                                <p><span style="font-size: 20px; color: black; padding-right: 150px; "> Dengan menggunakan situs web kami, Anda menjamin bahwa Anda berusia setidaknya 18 tahun atau mengunjungi di bawah pengawasan orang tua atau wali.  <br></span></p>
                                
                                <h1><span style="font-size: 24px; color: black; padding-right: 150px; font-weight: bold; "> Hak Kekayaan Intelektual </span></h1>
                                <p><span style="font-size: 20px; color: black; padding-right: 150px; "> Kecuali dinyatakan lain, Netnibbles memiliki hak kekayaan intelektual untuk semua materi di situs web ini. Semua hak kekayaan intelektual dilindungi undang-undang. Anda dapat mengakses ini dari Netnibbles untuk penggunaan pribadi Anda sendiri sesuai dengan batasan yang ditetapkan dalam syarat dan ketentuan ini.  <br></span></p>
                                
                                <h1><span style="font-size: 24px; color: black; padding-right: 150px; font-weight: bold; ">  Lisensi dan Akses Situs</span></h1>
                                <p><span style="font-size: 20px; color: black; padding-right: 150px; "> Netnibbles memberikan Anda lisensi terbatas untuk mengakses dan membuat penggunaan pribadi dari situs ini. Lisensi ini tidak termasuk penjualan kembali atau penggunaan komersial dari situs ini atau isinya.  <br></span></p>
                                
                                <h1><span style="font-size: 24px; color: black; padding-right: 150px; font-weight: bold; "> Akun Pengguna</span></h1>
                                <p><span style="font-size: 20px; color: black; padding-right: 150px; "> Jika Anda membuat akun di situs web, Anda bertanggung jawab untuk menjaga kerahasiaan akun dan kata sandi Anda serta membatasi akses ke komputer Anda. Anda setuju untuk menerima tanggung jawab atas semua aktivitas yang terjadi di bawah akun atau kata sandi Anda.  <br></span></p>
                                
                                <h1><span style="font-size: 24px; color: black; padding-right: 150px; font-weight: bold; "> Pemesanan dan Pembayaran</span></h1>
                                <p><span style="font-size: 20px; color: black; padding-right: 150px; "> Dengan melakukan pemesanan melalui situs web kami, Anda menjamin bahwa Anda secara hukum mampu untuk membuat kontrak yang mengikat. Anda setuju untuk memberikan informasi pembelian dan akun yang terkini, lengkap, dan akurat untuk semua pembelian yang dilakukan di toko kami.  <br></span></p>
                                
                                <h1><span style="font-size: 24px; color: black; padding-right: 150px; font-weight: bold; "> Harga dan Ketersediaan</span></h1>
                                <p><span style="font-size: 20px; color: black; padding-right: 150px; "> Semua harga dapat berubah tanpa pemberitahuan. Netnibbles berhak untuk memodifikasi atau menghentikan produk kapan saja tanpa pemberitahuan. <br></span></p>
                                
                                <h1><span style="font-size: 24px; color: black; padding-right: 150px; font-weight: bold; ">Pengiriman </span></h1>
                                <p><span style="font-size: 20px; color: black; padding-right: 150px; "> Netnibbles akan berusaha semaksimal mungkin untuk mengirimkan pesanan Anda dalam waktu pengiriman yang diperkirakan. Namun, keterlambatan kadang-kadang tidak dapat dihindari karena faktor-faktor yang tidak terduga. <br></span></p>
                                
                                <h1><span style="font-size: 24px; color: black; padding-right: 150px; font-weight: bold; "> Pengembalian dan Penggantian</span></h1>
                                <p><span style="font-size: 20px; color: black; padding-right: 150px; "> Pengembalian atau penggantian hanya berlaku jika produk yang dikirimkan salah atau rusak. Permintaan pengembalian atau penggantian harus dilakukan dalam waktu 24 jam setelah menerima pesanan.  <br></span></p>
                                
                                <h1><span style="font-size: 24px; color: black; padding-right: 150px; font-weight: bold; "> Batasan Tanggung Jawab</span></h1>
                                <p><span style="font-size: 20px; color: black; padding-right: 150px; "> Sejauh yang diizinkan oleh hukum, Netnibbles tidak bertanggung jawab atas kerusakan tidak langsung, insidental, khusus, konsekuensial, atau punitif, atau kehilangan keuntungan atau pendapatan, baik yang terjadi secara langsung atau tidak langsung, atau kehilangan data, penggunaan, goodwill, atau kerugian tidak berwujud lainnya, yang diakibatkan oleh: Penggunaan Anda atau ketidakmampuan untuk menggunakan situs web. Akses tidak sah ke atau penggunaan server kami dan/atau informasi pribadi yang tersimpan di dalamnya.  <br></span></p>
                                
                                <h1><span style="font-size: 24px; color: black; padding-right: 150px; font-weight: bold; "> </span></h1>
                                <p><span style="font-size: 20px; color: black; padding-right: 150px; ">  <br></span></p>
                                
                                <h1><span style="font-size: 24px; color: black; padding-right: 150px; font-weight: bold; "> </span></h1>
                                <p><span style="font-size: 20px; color: black; padding-right: 150px; ">  <br></span></p>
                                
                                <h1><span style="font-size: 24px; color: black; padding-right: 150px; font-weight: bold; "> </span></h1>
                                <p><span style="font-size: 20px; color: black; padding-right: 150px; ">  <br></span></p>
                                
                                
                                
                                </div>
                            </div>
                        </div>
                      
      </header>
   
</main>    

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        
    </body>
</html>